{% block copyright %}

<!-- License Impressum and Privacy Policy -->
<div>
  <a 
    rel="license" 
    href="http://creativecommons.org/licenses/by/4.0/">
  </a>
  Licensed under
  <a 
    rel="license" 
    href="http://creativecommons.org/licenses/by/4.0/">
    CC-BY-4.0 &nbsp
    <img 
      alt="Creative Commons License" 
      style="border-width:0; vertical-align:middle"
      src="https://i.creativecommons.org/l/by/4.0/88x31.png"
    />
  </a>
  &nbsp
  &copy; <?php echo date("Yi"); ?> <a href="https://www.hzdr.de">HZDR</a>
</div>

<!-- Impressum and Privacy Policy -->
<div style="align:right">
  <a href="https://www.hzdr.de/db/Cms?pOid=10115&pNid=0" target="_blank" rel="noopener noreferrer">Imprint</a>
  |
  <a href="https://www.hzdr.de/db/Cms?pOid=50772&pNid=0" target="_blank" rel="noopener noreferrer">Privacy Policy</a>
</div>

{% endblock %}

